@import 'mixins.less';

@bgColor:#272020;
@border1Color:white;
@darkBlueColor:#003871;
@lightBlueColor:#0081C3;
@darkGrayColor: #505050;
@lightGrayColor: lighten(#505050, 17%);
@lightWhiteColor: fadeout(white, 25%);
@redColor: #A80110;
@darkColor:#141414;
/**General**/
body{
	font-family: 'Dosis',sans-serif;
	background:@bgColor url('../img/bg.jpg') no-repeat fixed;
	font-size: 10pt;

}

.hide{
	display:none;
}
.clear{
	clear:both;
	
}

li{
	list-style-type: none;
}
 
/**End General**/

/** Header **/
.header{
	position:absolute;
	top:0px;
	width:100%;
	height:200px;
	min-width:1024;
	& .content{
		margin:0px auto;
		max-width:1268px;
		min-width:960px;
		#logo{
		
			background:white url('../img/paragraph_s.png') no-repeat  50% 5%;
			color:@darkBlueColor;
			width:280px;
			height:95px;
			padding-top:42px;
			text-align:center;
			& p{
				margin:10px 0px;
				color:@darkGrayColor;
			}
			& a{
				color:@darkBlueColor;
				text-decoration:none;
				font-size:35px;
	
				&:visited{
					color:@darkBlueColor;
				}
				&:hover{
					color:@darkBlueColor;
				}
			}
		}
		& nav{

			max-width:(1268px - 280px);
			min-width:(960px - 280px);
			margin-top:-130px;
			margin-left:290px;
			& ul{

				&>li{
					background: url('../img/header_menu_item_bullet.png') no-repeat  center bottom;
					display:inline-block;
					margin:0 10px;
					
					width:118px;
					text-align:center;
					padding-bottom:20px;
					&.navi-1-level{
						
					}
					&:hover .submenu{
					    @tp:opacity,visibility;
						.transition(@tp, 1s, 0s);
						.opacity(1);
						visibility:visible;
					}
					&>a{
						color: white;
						font-size:17px;
						text-decoration:none;
						text-transform: uppercase;
						&:hover{
							color:@lightBlueColor;
							
						}
						&:active{
							color:@lightBlueColor;
						}
					}

					& .submenu{
						@tp:opacity,visibility;
						.opacity(0);
						.transition(@tp, 0.5s, 1s);
						visibility:hidden;
						margin-top:40px;
						background:white;
						padding:10px;
						position:absolute;
						
						& li {
							
							display:block;
							width:auto;
							padding:0px;
							margin:5px 0px;
							&.arrow{
								background: url('../img/up_s.png') no-repeat  center center;
								height:50px;
								margin-top:-30px;
							}
							& a{
								color: @darkBlueColor;
								font-size:12px;
								text-decoration:none;	
								&:visited{
									color: @darkBlueColor;
									font-size:12px;
									text-decoration:none;
								}
								&:hover{
									color: @lightBlueColor;
									font-size:12px;
									text-decoration:none;
								}
							}
						}
	
					}
				}

			}
		}
	}
	& .separator{
		position:absolute;
		top:80px;
		width:100%;
		border-bottom:1px solid @lightWhiteColor;
	}
}

/** End Header **/

/**Carusel HP**/
#carusel{
	margin:0px auto;
	width:100%;
	height:353px;
	margin-top:139px;
	background: url('../img/carusel.png') no-repeat  center center;
}
/**End Carusel HP**/
/**Produkty HP**/
#hp-products{
	width:100%;
	.box-shadow(outset,0px, -2px, 3px, 1px, white);
	& header{
		display:block;
		background:@lightBlueColor;
		line-height:70px;
		& h1{
			display:block;
			margin:0px auto;
			max-width:1268px;
			min-width:960px;
			color:white;
			font-weight: normal;
			font-size:38px;
			padding-left:4px;
		}
	}
	& .services{
		background:@darkBlueColor;
		width:100%;
		height:150px;
		& #slider{
			margin:0px auto;
			overflow:hidden;
			width:960px;
			
		& .viewport {
		    float: left;
		    width:880px;
		    height:150px;
		    overflow: hidden;
		    position: relative;
		    & ul{
		    	padding:0px;
		    }
		}
		& .buttons {
		    background: @redColor;
		    .border-radius(4px);
		    display: block;
		    margin: 60px 10px 0 0;
		    float: left;
		    width: 30px;
		    height: 30px;
		    position: relative;
		    color: white;
		    font-weight: bold;
		    text-align: center;
		    line-height: 30px;
		    text-decoration: none;
		    font-size: 22px;
		}
		& .next {
		    margin: 60px 0 0 10px;
		}
		& .buttons:hover{
		    color: #C01313;
		    background: #fff;
		}
		& .disable {
		    visibility: hidden;
		}
		& .overview {
		    list-style: none;
		    position: absolute;
		    left: 0
		    top: 0;
		}
		& .overview li{
		    float: left;
		    margin: 10px 30px 0 0;
		    line-height:22px;
		    overflow: hidden;
		    padding: 1px;
		    height: 121px;
		    border: 0px;
		    width: 263px;
		    color:white;
		    & a{
		    	display:block;
		    	margin-bottom:6px;
		    	text-decoration:none;
		    	color:white;
		    	font-size:22px;
		    	&:hover{
		    		text-decoration:none;
		    	}
		    	&:visited{
		    		text-decoration:none;
		    	}
		    }
		}
		}
	}
}
/**End Produkty HP**/

/**Info HP**/
#hp-info{
	margin:0px auto;
	max-width:1268px;
	min-width:960px;
	margin-top:30px;
	&>div{
		width:960px;
		margin:0px auto;
		& article{
			width:300px;
			height:240px;
			float:left;
			margin-right:30px;
			& header{
				color:white;
				font-size:23px;
				line-height:48px;
				padding:0px 6px;
			}
			&.info-a header{
				background:@darkBlueColor;
			}
			&.info-b header{
				background:@lightBlueColor;
		
			}
			&.info-c header{
				background:@redColor;
				margin-right:0px;
			}
			&.info-a{
				& .importanto{
					color:@darkBlueColor;
				}
			}
			&.info-b {
				& .importanto{
					color:@lightBlueColor;
				}
			}
			&.info-c{
				margin-right:0px;
				& .importanto{
					color:@redColor;
				}
			}
			&>div{
				background:white;
				margin:0px;
				padding:15px;
				height:172px;
				overflow:hidden;
				& .news{
					margin-bottom:20px;
					& .date{
						color:@darkBlueColor;
						font-size:11px;
					}
					& a.text{
						font-weight:bold;
						text-decoration:none;
						color:black;
						&:hover{
		    				text-decoration:none;
				    	}
				    	&:visited{
				    		text-decoration:none;
				    	}
					}
				}
				& .importanto{
					font-size:18px;
					& small{
						display:block;
						font-size:11px;
						color:@lightGrayColor;
					}
				}
			}
		}
	}
}
/**End Info HP**/

/**Footer**/
#footer{
	width:100%;
	margin-top:50px;
	padding:20px 0px;
	background:@darkColor;
	& div{
		margin:0px auto;
		max-width:1068px;
		min-width:70px;
		color:white;
		padding:0px 4px;
		&.copyright{
			font-weight:bold;
			margin-bottom:15px;
		}
		&.info{
			font-size:11px;
		}
		&.other{
			margin-top:25px;
			& a{
				color:white;
				font-size:11px;
				&:hover{
					color:white;
				}
				&:visited{
					color:white;
				}
			}
			& .hp-facebook{
				float:right;
			}
		}
	}
	
}
/**End Footer**/